#dont tell jacoco to ignore generated methods execution results by default. this must only be on an agreed basis
config.stopBubbling = false
#dont add the requirement for the java.desktop module in the jdk ( annotation)
lombok.addLombokGeneratedAnnotation = false
#chain setters to enforce type compatibility
lombok.accessors.chain = true